
<link rel="stylesheet" href="/css/application.css">

<div class='container' id="<%= @question.id %>" style="background-color: lightgreen" >
<div class="score-table">
  <table>
    <th class="wack-button">
      <form method="POST" action="/questions/<%= @question.id %>/votes">
        <input type="submit" name="value" value="WORD!">
      </form>
    </th>
    <th class="score">
     SCORE
    </th>
    <th class="not-wack-button">
      <form method="POST" action="/questions/<%= @question.id %>/votes">
      <input type="submit" name="value" value="WTF!">
      </form>
    </th>
  </table>
</div>

  <div class='question-title' >
    <h2 ><%= @question.title %></h2>
    <p> posted by: <%= @question.author.username %> </p>
  </div>

  <div class='question-content' >
    <p><%= @question.content %></p>
  </div>
</div>

<div class="container">
  <div class='answers-container'>
    <% @answers.each do |answer| %>
    <div class= "answer-response" id="<%= answer.id %>">
      <p> <%= answer.content %></p>
      <p style="font-style:italic; text-align:right; font-size: 15px",>~~ <%= answer.responder.first_name%></p>
    </div>
    <% end %>
  </div>
</div>

<div class='container'>
  <br>
  <div class='answer-form'>
    <form class="new-answer" method="post" action="/questions/<%= @question.id %>/answers">
      <label>Post an answer:</label><br><br>
      <input type="text" name="content" style="width: 400px"><br><br>
      <input type="submit" value="Submit"><br>
    </form>
  </div>
</div>
