<div class='container' id="<%= @question.id %>">

  <div class='question-title'>
    <h2><%= @question.title %></h2>
    <p> posted by: <%= @question.author.username %> </p>
  </div>

  <div class='question-content'>
    <p><%= @question.content %></p>
  </div>

  <a href="/questions">Go Home!</a>

  <%= erb :'/comments/_question_comment' %>
  <%= erb :'/comments/_question_comment_form' %>
</div>

